/* src/styles/retrieve.css */

/* Dynamically center the content */
.retrieve-content {
    /* Adjust for sidebar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Full viewport height */
    position: relative;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    /* Smooth transition when sidebar changes */
    padding: 20px;
}

/* When sidebar is open */
.retrieve-content.sidebar-open {
    margin-left: 250px;
    /* Sidebar width when open */
}

/* When sidebar is closed */
.retrieve-content.sidebar-closed {
    margin-left: 60px;
    /* Sidebar width when closed */
}

/* Styling for the container with transparency */
.retrieve-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    /* Add transparency */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /* Optional: Adds a blur effect to the background */
    margin-top: 60px;
}

/* Top-right "Upload" button positioning */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.data-list {
    list-style-type: none;
    padding: 0;
}

.data-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* Transparent background for items */
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.button-retrieve {
    padding: 10px 20px;
    background-color: #011F5B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-retrieve:hover {
    opacity: 0.9;
}

/* Disabled button styling */
.button-retrieve:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Grid headers */
.grid-header {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    color: #333;
    background-color: #f8f8f8;
    align-items: center;
    /* Ensure vertical alignment in the center */
}

.grid-header-images {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 1fr;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    color: #333;
    background-color: #f8f8f8;
    align-items: center;
}

.grid-header-simulator {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 2fr 1fr;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    color: #333;
    background-color: #f8f8f8;
    align-items: center;
    /* Ensure vertical alignment in the center */
}

/* Grid container */
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Grid row for each MRD file */
.grid-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #ccc;
    /* Add a border to separate rows visually */
}

.grid-row-images {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #ccc;
}

.grid-row-simulator {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 2fr 2fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 1px solid #ccc;
}

.grid-row:hover {
    background-color: rgba(200, 200, 200, 0.1);
}

.grid-row input[type="checkbox"] {
    justify-self: center;
}

.grid-row-images:hover {
    background-color: rgba(200, 200, 200, 0.1);
}

.grid-row-images input[type="checkbox"] {
    justify-self: center;
}

.grid-row-simluator:hover {
    background-color: rgba(200, 200, 200, 0.1);
}

.grid-row-simulator input[type="checkbox"] {
    justify-self: center;
}

.search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Sorting headers */
.grid-header span {
    cursor: pointer;
    align-items: center;
}

.grid-header span:hover {
    color: #007bff;
    /* Add hover effect for sorting */
}

.grid-header svg {
    margin-left: 5px;
    /* Add a little space between the text and the arrow */
}

/* Sorting headers */
.grid-header-images span {
    cursor: pointer;
    align-items: center;
}

.grid-header-images span:hover {
    color: #007bff;
    /* Add hover effect for sorting */
}

.grid-header-images svg {
    margin-left: 5px;
    /* Add a little space between the text and the arrow */
}

/* Sorting headers */
.grid-header-simulator span {
    cursor: pointer;
    align-items: center;
}

.grid-header-simulator span:hover {
    color: #007bff;
    /* Add hover effect for sorting */
}

.grid-header-simulator svg {
    margin-left: 5px;
    /* Add a little space between the text and the arrow */
}

/* Style for the MRD file name link */
.file-link {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: gray;
}

.file-link:hover {
    color: blue;
    /* Blue color on hover */
}